# Python
backend/venv/
backend/__pycache__/
*.pyc
.env
.DS_Store

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.eslintcache

# SecureMesh / Honeypot
SecureMesh/

# ESP8266 Hardware Secrets & Build Artifacts
esp8266/secrets.h
**/secrets.h
.pio/
*.bin

